@import "../../vars.scss";

.main {
  margin: 0 103px;
  display: flex;
}

.main__checkboxes-container {
  width: 232px;
  margin-right: 10px;
  background-color: $white-background-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  height: 252px;
}

.main__titckets-container {
  width: 502px;
  margin-left: 10px;
}
