$base-background-color: #f3f7fa;
$white-background-color: #ffffff;
$checkbox-background-color-hover: #f1fcff;
$tabs-background-active: #2196f3;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
$border: 1px solid #dfe5ec;
$font-color-price: #2196f3;
$font-color-subtitle: #a0b0b9;
$font-color-text: #4a4a4a;
$button-color: #2196f3;
$button-text-color: #ffffff;
